odsComponentStageInfrastructure offers a complete pipeline for components created with the inf-terraform-aws or inf-terraform-azure quickstarter (https://github.com/opendevstack/ods-quickstarters/tree/master/inf-terraform-aws).
It takes care of testing, deploying and reporting of infrastructure resources specified inside the component by running substages specified inside the quickstarters Makefile.

== Options

[cols="1,2"]
|===
| Option | Description
{{range .Options}}

| *{{.Name}}* +
_{{.Type}}_
|{{.Description}}
{{end}}
|===