Imports an image from another namespace.

By default, the source image is identified using the commit which triggered the pipeline run.

== Options

[cols="1,2"]
|===
| Option | Description
{{range .Options}}

| *{{.Name}}* +
_{{.Type}}_
|{{.Description}}
{{end}}
|===
