The "Aqua Security Scan" stage scans an image that was previously built in that same pipeline run.

As a result, a Bitbucket Code Insight entry is added to the git commit (in Bitbucket) that basically
contains a link to the scan result on the Aqua platform. The Bitbucket Code Insight entry can be seen in a pull request.
The pull request in Bitbucket shows the Code Insight of the latest commit of the PR.

To get started, make sure you have a `ConfigMap` in your project-cd namespace in OpenShift that has these fields:
----
...
metadata:
  name: aqua
...
data:
  registry: <registry-name-in-aqua-platform>
  secretName: <secret-name-of-aqua-user-credentials>
  url: <aqua-platform-url>
----

. `registry`: Refers to a name for the image registry given in the Aqua platform by an Aqua platform admin.
. `secretName`: Name of a `Secret` that contains the credentials of the Aqua platform user that is used for executing the scan. That user needs to have scanner rights.
. `url`: Base URL of the Aqua platform (including scheme).

Now, to use the stage, add it in your `Jenkinsfile`, e.g. like this:
----
) { context ->
    ...
    odsComponentStageScanWithAqua(context)
    ...
}
----

== Options

[cols="1,2"]
|===
| Option | Description
{{range .Options}}

| *{{.Name}}* +
_{{.Type}}_
|{{.Description}}
{{end}}
|===
